/********** Template CSS **********/
:root {
    --primary: #b49c17;
    --secondary: #fff0e6;
    --light: #f8f8f9;
    --dark: #001d23;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.btn {
    font-weight: 500;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #ffffff;
}

.btn.btn-primary:hover {
    color: #0D6EFD;
    background: transparent;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.fixed-top {
    transition: 0.5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.navbar{
    background-color: #001d23;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #ffffff;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        background: var(--dark);
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}

.navbar {
    transition: background-color 0.3s ease;
}

.navbar-scrolled {
    background-color: var(--dark) !important;
}

/*** Header ***/
.carousel-img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
}

.carousel-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 29, 35, 0.8);
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}


.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 52%;
    right: -40px;
    margin-top: -1px;
    background: #0D6EFD;
}

.section-title-2::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    top: 48%;
    /* margin-right: 400px; */
    margin-left: -50px;
    margin-top: -1px;
    background: #0D6EFD;
}


.section-title-4::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    top: 50%;
    margin-left: -170px;
    margin-top: -1px;
    background: #0D6EFD;
}

.team-item {
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease, border-bottom 0.5s ease;
    border-bottom: 2px solid transparent;
}

.team-item:hover {
    transform: translateY(-20px);
    border-bottom: 2px solid #0D6EFD;
}

.team-social a {
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
}

.team-social a:hover {
    background-color: #0D6EFD;
    color: white;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    border: 12px solid var(--dark);
    border-radius: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.footer .btn.btn-square:hover {
    color: var(--secondary);
    border-color: var(--light);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
    color: var(--secondary);
}

.footer .copyright a:hover {
    color: var(--primary);
}

.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .06);
}
